<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workspace">
            <h2><span jhiTranslate="mhawebApp.workspace.detail.title">Workspace</span> {{ workspace.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhawebApp.workspace.label">Label</span></dt>
                <dd>
                    <span>{{ workspace.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.workspace.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ workspace.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.workspace.owner">Owner</span></dt>
                <dd>
                    <span *ngFor="let owner of workspace.owners; let last = last">
                        <a [routerLink]="['/profil', owner?.id, 'view']">{{ owner.displayName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/workspace', workspace.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
