<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhawebApp.shoppingItem.home.title">Shopping Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-item" [routerLink]="['/shopping-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhawebApp.shoppingItem.home.createLabel">
            Create a new Shopping Item
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shoppingItems?.length === 0">
        <span jhiTranslate="mhawebApp.shoppingItem.home.notFound">No shoppingItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shoppingItems?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="mhawebApp.shoppingItem.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhawebApp.shoppingItem.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="checked"><span jhiTranslate="mhawebApp.shoppingItem.checked">Checked</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="mhawebApp.shoppingItem.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unit"><span jhiTranslate="mhawebApp.shoppingItem.unit">Unit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shoppingCatalogSheldLabel"><span jhiTranslate="mhawebApp.shoppingItem.shoppingCatalogSheld">Shopping Catalog Sheld</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shoppingCartLabel"><span jhiTranslate="mhawebApp.shoppingItem.shoppingCart">Shopping Cart</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let shoppingItem of shoppingItems ;trackBy: trackId">
                    <td><a [routerLink]="['/shopping-item', shoppingItem.id, 'view']">{{ shoppingItem.id }}</a></td>
                    <td>{{ shoppingItem.label }}</td>
                    <td>{{ shoppingItem.lastUpdate | date:'mediumDate' }}</td>
                    <td>{{ shoppingItem.checked }}</td>
                    <td>{{ shoppingItem.quantity }}</td>
                    <td jhiTranslate="{{ 'mhawebApp.Unit.' + shoppingItem.unit }}">{{ shoppingItem.unit }}</td>
                    <td>
                        <div *ngIf="shoppingItem.shoppingCatalogSheldId">
                            <a [routerLink]="['/shopping-catalog-sheld', shoppingItem.shoppingCatalogSheldId , 'view']" >{{ shoppingItem.shoppingCatalogSheldLabel }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shoppingItem.shoppingCartId">
                            <a [routerLink]="['/shopping-cart', shoppingItem.shoppingCartId , 'view']" >{{ shoppingItem.shoppingCartLabel }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shopping-item', shoppingItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shopping-item', shoppingItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shoppingItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
