<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="mha-shopping-item-heading" jhiTranslate="mhawebApp.shoppingItem.home.createOrEditLabel">Create or edit a Shopping Item</h2>

            <div>
                <mha-alert-error></mha-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.shoppingItem.label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                           formControlName="label"/>
                    <div *ngIf="editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.shoppingItem.lastUpdate" for="field_lastUpdate">Last Update</label>
                    <div class="input-group">
                        <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" ngbDatepicker #lastUpdateDp="ngbDatepicker" formControlName="lastUpdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('lastUpdate')!.invalid && (editForm.get('lastUpdate')!.dirty || editForm.get('lastUpdate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.shoppingItem.checked" for="field_checked">Checked</label>
                    <input type="checkbox" class="form-control" name="checked" id="field_checked"
                           formControlName="checked"/>
                    <div *ngIf="editForm.get('checked')!.invalid && (editForm.get('checked')!.dirty || editForm.get('checked')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('checked')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.shoppingItem.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                    <div *ngIf="editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantity')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantity')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.shoppingItem.unit" for="field_unit">Unit</label>
                    <select class="form-control" name="unit" formControlName="unit" id="field_unit">
                        <option value="QUANTITY">{{ 'mhawebApp.Unit.QUANTITY' | translate }}</option>
                        <option value="G">{{ 'mhawebApp.Unit.G' | translate }}</option>
                        <option value="KG">{{ 'mhawebApp.Unit.KG' | translate }}</option>
                        <option value="L">{{ 'mhawebApp.Unit.L' | translate }}</option>
                        <option value="ML">{{ 'mhawebApp.Unit.ML' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.shoppingItem.shoppingCatalogSheld" for="field_shoppingCatalogSheld">Shopping Catalog Sheld</label>
                    <select class="form-control" id="field_shoppingCatalogSheld" name="shoppingCatalogSheld" formControlName="shoppingCatalogSheldId">
                        <option *ngIf="!editForm.get('shoppingCatalogSheldId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="shoppingCatalogSheldOption.id" *ngFor="let shoppingCatalogSheldOption of shoppingcatalogshelds; trackBy: trackById">{{ shoppingCatalogSheldOption.label }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('shoppingCatalogSheldId')!.invalid && (editForm.get('shoppingCatalogSheldId')!.dirty || editForm.get('shoppingCatalogSheldId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('shoppingCatalogSheldId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.shoppingItem.shoppingCart" for="field_shoppingCart">Shopping Cart</label>
                    <select class="form-control" id="field_shoppingCart" name="shoppingCart" formControlName="shoppingCartId">
                        <option *ngIf="!editForm.get('shoppingCartId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="shoppingCartOption.id" *ngFor="let shoppingCartOption of shoppingcarts; trackBy: trackById">{{ shoppingCartOption.label }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('shoppingCartId')!.invalid && (editForm.get('shoppingCartId')!.dirty || editForm.get('shoppingCartId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('shoppingCartId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
