<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhawebApp.todo.home.title">Todos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-todo" [routerLink]="['/todo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhawebApp.todo.home.createLabel">
            Create a new Todo
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="todos?.length === 0">
        <span jhiTranslate="mhawebApp.todo.home.notFound">No todos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="todos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="mhawebApp.todo.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="done"><span jhiTranslate="mhawebApp.todo.done">Done</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhawebApp.todo.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="todoListLabel"><span jhiTranslate="mhawebApp.todo.todoList">Todo List</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let todo of todos ;trackBy: trackId">
                    <td><a [routerLink]="['/todo', todo.id, 'view']">{{ todo.id }}</a></td>
                    <td>{{ todo.label }}</td>
                    <td>{{ todo.done }}</td>
                    <td>{{ todo.lastUpdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="todo.todoListId">
                            <a [routerLink]="['/todo-list', todo.todoListId , 'view']" >{{ todo.todoListLabel }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/todo', todo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/todo', todo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(todo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
