<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="taskProject">
            <h2><span jhiTranslate="mhawebApp.taskProject.detail.title">Task Project</span> {{ taskProject.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhawebApp.taskProject.label">Label</span></dt>
                <dd>
                    <span>{{ taskProject.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.taskProject.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ taskProject.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.taskProject.owner">Owner</span></dt>
                <dd>
                    <span *ngFor="let owner of taskProject.owners; let last = last">
                        <a [routerLink]="['/profil', owner?.id, 'view']">{{ owner.displayName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.taskProject.workspace">Workspace</span></dt>
                <dd>
                    <div *ngIf="taskProject.workspaceId">
                        <a [routerLink]="['/workspace', taskProject.workspaceId, 'view']">{{ taskProject.workspaceLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task-project', taskProject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
