<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spentSharingConfig">
            <h2><span jhiTranslate="mhawebApp.spentSharingConfig.detail.title">Spent Sharing Config</span> {{ spentSharingConfig.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhawebApp.spentSharingConfig.share">Share</span></dt>
                <dd>
                    <span>{{ spentSharingConfig.share }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.spentSharingConfig.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ spentSharingConfig.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.spentSharingConfig.spentConfig">Spent Config</span></dt>
                <dd>
                    <div *ngIf="spentSharingConfig.spentConfigId">
                        <a [routerLink]="['/spent-config', spentSharingConfig.spentConfigId, 'view']">{{ spentSharingConfig.spentConfigLabel }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mhawebApp.spentSharingConfig.profil">Profil</span></dt>
                <dd>
                    <div *ngIf="spentSharingConfig.profilId">
                        <a [routerLink]="['/profil', spentSharingConfig.profilId, 'view']">{{ spentSharingConfig.profilDisplayName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spent-sharing-config', spentSharingConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
