<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="mha-spent-sharing-config-heading" jhiTranslate="mhawebApp.spentSharingConfig.home.createOrEditLabel">Create or edit a Spent Sharing Config</h2>

            <div>
                <mha-alert-error></mha-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.spentSharingConfig.share" for="field_share">Share</label>
                    <input type="number" class="form-control" name="share" id="field_share"
                           formControlName="share"/>
                    <div *ngIf="editForm.get('share')!.invalid && (editForm.get('share')!.dirty || editForm.get('share')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('share')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('share')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('share')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.spentSharingConfig.lastUpdate" for="field_lastUpdate">Last Update</label>
                    <div class="input-group">
                        <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" ngbDatepicker #lastUpdateDp="ngbDatepicker" formControlName="lastUpdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('lastUpdate')!.invalid && (editForm.get('lastUpdate')!.dirty || editForm.get('lastUpdate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.spentSharingConfig.spentConfig" for="field_spentConfig">Spent Config</label>
                    <select class="form-control" id="field_spentConfig" name="spentConfig" formControlName="spentConfigId">
                        <option *ngIf="!editForm.get('spentConfigId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="spentConfigOption.id" *ngFor="let spentConfigOption of spentconfigs; trackBy: trackById">{{ spentConfigOption.label }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('spentConfigId')!.invalid && (editForm.get('spentConfigId')!.dirty || editForm.get('spentConfigId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('spentConfigId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhawebApp.spentSharingConfig.profil" for="field_profil">Profil</label>
                    <select class="form-control" id="field_profil" name="profil" formControlName="profilId">
                        <option *ngIf="!editForm.get('profilId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="profilOption.id" *ngFor="let profilOption of profils; trackBy: trackById">{{ profilOption.displayName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('profilId')!.invalid && (editForm.get('profilId')!.dirty || editForm.get('profilId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('profilId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
