<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wallet">
            <h2><span jhiTranslate="mhawebApp.wallet.detail.title">Wallet</span> {{ wallet.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhawebApp.wallet.label">Label</span></dt>
                <dd>
                    <span>{{ wallet.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.wallet.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ wallet.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.wallet.owner">Owner</span></dt>
                <dd>
                    <span *ngFor="let owner of wallet.owners; let last = last">
                        <a [routerLink]="['/profil', owner?.id, 'view']">{{ owner.displayName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.wallet.workspace">Workspace</span></dt>
                <dd>
                    <div *ngIf="wallet.workspaceId">
                        <a [routerLink]="['/workspace', wallet.workspaceId, 'view']">{{ wallet.workspaceLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wallet', wallet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
