<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhawebApp.todoTemplate.home.title">Todo Templates</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-todo-template" [routerLink]="['/todo-template/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhawebApp.todoTemplate.home.createLabel">
            Create a new Todo Template
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="todoTemplates?.length === 0">
        <span jhiTranslate="mhawebApp.todoTemplate.home.notFound">No todoTemplates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="todoTemplates?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="mhawebApp.todoTemplate.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhawebApp.todoTemplate.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="todoListTemplateLabel"><span jhiTranslate="mhawebApp.todoTemplate.todoListTemplate">Todo List Template</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let todoTemplate of todoTemplates ;trackBy: trackId">
                    <td><a [routerLink]="['/todo-template', todoTemplate.id, 'view']">{{ todoTemplate.id }}</a></td>
                    <td>{{ todoTemplate.label }}</td>
                    <td>{{ todoTemplate.lastUpdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="todoTemplate.todoListTemplateId">
                            <a [routerLink]="['/todo-list-template', todoTemplate.todoListTemplateId , 'view']" >{{ todoTemplate.todoListTemplateLabel }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/todo-template', todoTemplate.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/todo-template', todoTemplate.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(todoTemplate)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
