<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="todoTemplate">
            <h2><span jhiTranslate="mhawebApp.todoTemplate.detail.title">Todo Template</span> {{ todoTemplate.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhawebApp.todoTemplate.label">Label</span></dt>
                <dd>
                    <span>{{ todoTemplate.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.todoTemplate.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ todoTemplate.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.todoTemplate.todoListTemplate">Todo List Template</span></dt>
                <dd>
                    <div *ngIf="todoTemplate.todoListTemplateId">
                        <a [routerLink]="['/todo-list-template', todoTemplate.todoListTemplateId, 'view']">{{ todoTemplate.todoListTemplateLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/todo-template', todoTemplate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
