<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="todoListTemplate">
            <h2><span jhiTranslate="mhawebApp.todoListTemplate.detail.title">Todo List Template</span> {{ todoListTemplate.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhawebApp.todoListTemplate.label">Label</span></dt>
                <dd>
                    <span>{{ todoListTemplate.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.todoListTemplate.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ todoListTemplate.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.todoListTemplate.owner">Owner</span></dt>
                <dd>
                    <span *ngFor="let owner of todoListTemplate.owners; let last = last">
                        <a [routerLink]="['/profil', owner?.id, 'view']">{{ owner.displayName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="mhawebApp.todoListTemplate.workspace">Workspace</span></dt>
                <dd>
                    <div *ngIf="todoListTemplate.workspaceId">
                        <a [routerLink]="['/workspace', todoListTemplate.workspaceId, 'view']">{{ todoListTemplate.workspaceLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/todo-list-template', todoListTemplate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
