<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhawebApp.shoppingCart.home.title">Shopping Carts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-cart" [routerLink]="['/shopping-cart/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhawebApp.shoppingCart.home.createLabel">
            Create a new Shopping Cart
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shoppingCarts?.length === 0">
        <span jhiTranslate="mhawebApp.shoppingCart.home.notFound">No shoppingCarts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shoppingCarts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="mhawebApp.shoppingCart.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhawebApp.shoppingCart.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shoppingCatalogCartLabel"><span jhiTranslate="mhawebApp.shoppingCart.shoppingCatalogCart">Shopping Catalog Cart</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="workspaceLabel"><span jhiTranslate="mhawebApp.shoppingCart.workspace">Workspace</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let shoppingCart of shoppingCarts ;trackBy: trackId">
                    <td><a [routerLink]="['/shopping-cart', shoppingCart.id, 'view']">{{ shoppingCart.id }}</a></td>
                    <td>{{ shoppingCart.label }}</td>
                    <td>{{ shoppingCart.lastUpdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="shoppingCart.shoppingCatalogCartId">
                            <a [routerLink]="['/shopping-catalog-cart', shoppingCart.shoppingCatalogCartId , 'view']" >{{ shoppingCart.shoppingCatalogCartLabel }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shoppingCart.workspaceId">
                            <a [routerLink]="['/workspace', shoppingCart.workspaceId , 'view']" >{{ shoppingCart.workspaceLabel }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shopping-cart', shoppingCart.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shopping-cart', shoppingCart.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shoppingCart)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
